body {
    padding: 0;
    margin: 0;
    background-color: #000
}

#nav {
    font-family: lato, sans-serif;
    height: 60px;
    width: 100%;
    text-align: center
}

#navigation {
    font-family: pt sans narrow, sans-serif;
    float: left;
    line-height: 100%;
    padding: 0;
    margin: 0
}

#navigation1 li {
    font-family: pt sans narrow, sans-serif;
    float: left;
    line-height: 100%;
    padding: 0;
    margin: 0
}

#navigation li {
    list-style-type: none;
    height: 40px;
    margin-right: 50px;
    line-height: 40px;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    display: inline;
    float: left;
    transition: .5s
}

#con {
    height: 700px;
    text-align: center;
    width:70%;
    background-color: transparent;
    border: 5px solid #111;
    margin: 50px auto;
    display: flex;
}

#btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#btns span {
    color: white;
    padding: .5vmax .8vmax;
    cursor: pointer;
    font-size: 1.4vmax;
    border-width: 1px;
    border-color: red;
}
#btns span:hover {
    color: red;
}

a {
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    text-decoration: none
}

iframe {
    height: 100%;
    width: 100%;
    border: 0
}

iframe video {
    height: 100%;
    width: 100%
}

@media only screen and (max-width:1850px) {
    #con {
        width: 95%
    }

    #film {
        width: calc(100% - 100px)
    }

    #chat {
        width: 300px !important
    }
}

@media only screen and (max-width:1260px) {
    .menu_content {
        display: none;
        font-size: 20px
    }

    #navigation li {
        width: 50px
    }

    #film,
    #chat {
        clear: both
    }

    #film {
        width: 100% !important;
        height: 400px !important
    }

    #chat {
        width: 100% !important;
        margin: auto;
        height: 500px !important
    }

    #con {
        height: 900px;
        flex-direction: column;
    }
    #btns {
        flex-direction: row;
    }
}

#film,
#chat {
    float: left;
    color: #fff
}

#film {
    height: 100%;
    width: calc(100% - 300px);
    background-color: #000
}

#chat {
    height: 100%;
    width: 300px;
    background-color: #000
}

#footer {
    font-family: pt sans narrow, sans-serif;
    height: 50px;
    width: 350px;
    text-align: center;
    margin: auto
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #aaa
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}
